.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;

    border-radius: 4px;
    background-color: $bgPrimaryColor;
    box-shadow: $boxShadow;

    transform: translate(-50%, -50%) scale(1);
    transition: transform $transition;

    @media screen and (max-width: 479px) {
        width: 95vw;
    }

    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (min-width: 1200px) {
        width: 528px;
    }


    .backdrop.is-hidden+& {
        transform: translate(-50%, -50%) scale(1.1);
    }
}