.networks {
    display: flex;
    justify-content: center;
}

.networks__item:not(:last-child) {
    margin-right: 10px;
}

.networks__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color $transition;

    &--fotter {
        background-color: $bgLinkColor;
    }

    &:hover,
    &:focus {
        background-color: $accentColor;
    }
}

.networks__icon {
    width: 20px;
    height: 20px;

    &--footer {
        fill: $bgPrimaryColor;
    }

    &--team {
        fill: $iconColor;
        transition: fill $transition;

        .networks__link:hover &,
        .networks__link:focus & {
            fill: $bgPrimaryColor;
        }
    }
}