.section {
    padding: 60px 0;

    @media screen and (min-width: 1200px) {
        padding: 94px 0;
    }

    &--padding {
        padding-top: 0;
    }

    &--background {
        background-color: $bgSecondaryColor;
    }
}

.section.section--padding {
    @media screen and (max-width: 1199px) {
        padding: 0;
    }
}

.section__title {
    margin-bottom: 30px;

    color: $secondaryTextColor;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;

        font-size: 36px;
        line-height: 1.17;
    }

    &--hidden {
        display: none;

        @media screen and (min-width: 1200px) {
            display: block;
        }
    }
}