.footer-links__caption {
    display: inline-block;
    margin-bottom: 20px;
    color: $whiteTextColor;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}