.menu-contacts {
    margin-bottom: 64px;
}

.menu-contacts__item:not(:last-child) {
    margin-bottom: 32px;
}

.menu-contacts__link {
    font-size: 24px;
    line-height: 1.17;
    color: $primaryTextColor;


    transition: color $transition;

    &--tel {
        font-weight: 500;
        font-size: 34px;
        line-height: 1.18;
        color: $accentColor;

    }
}