.menu-button {
    display: none;

    margin-left: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;

    @media screen and (max-width: 767px) {
        display: block;
    }

    &--close {
        position: absolute;
        top: 0;
        right: 0;
    }

}

.menu-button__icon {
    transition: fill $transition;

    .menu-button:hover & {
        fill: $accentColor;
    }
}